body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #101820;
}

h1.title {
    text-align: center;
    font-family: monospace;
    font-size: 5vh;
    font-weight: bold;
    color: #FEE715;;
    text-shadow: 0px 0px 15px #ffffff;
}

hr {
    width: 100%;
}

a {
    font-family: monospace;
    font-size: 3vh;
    font-weight: bold;
    color: #FEE715;;
    text-decoration: none;
}

a:hover {
    color: #c4b211;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 30px 30px 0px 0px;
    margin: 16vh 16vh 0vh 16vh;
    height: max-content;
    width: 70%;
    /* backdrop-filter: blur(15px); */
    box-shadow: 0px 0px 26px 2px #ffffff40;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5vh;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    margin-bottom: 4em;
    border-radius: 10px;
    padding: 0.1vh 1vh 0.7vh 1vh;
    box-shadow: 0px 0px 15px 1px #fee71554;
}

.repositories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.repository {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    word-break: break-all; 
    font-family: monospace;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 2em;
    padding: 0.1vh 1vh 0.7vh 1vh;
    box-shadow: 0px 0px 15px 1px #fee71554;
    color: #b6b39d
}

.repository-title {
    margin-top: 0.5em;
    font-size: 2em;
    color: #FEE715;
}

.repository-description {
    word-break: break-all; 
}

span {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #3572A5;
    border: var(--borderWidth-thin) solid var(--borderColor-translucent);
    border-radius: 50%;
}

span.language-cpp {
    background-color: #f34b7d;
}
span.language-csharp {
    background-color: #178600;
}